name: Deploy to production

env:
  PROJECT_NAME: nexorbs-webpage

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/deploy.yaml'
      - 'package.json'
      - 'tsconfig.json'
      - 'public/**'
      - 'src/**'
      - 'functions/**'

jobs:
  deploy:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: NodeJS Cache
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-npm-cache-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-npm-cache-

      - name: Install Deps
        run: npm install

      - name: Build
        run: npm run build-only

      - name: Deploy to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy dist --project-name nexorbs-webpage
        env:
          BREVO_API_KEY: ${{ secrets.BREVO_API_KEY }}
